@import url(https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap);
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.bioImage {
    border-radius: 10%;
    width: 27%;
    height: auto;
    object-fit: cover;
    margin: 10px;
}

.biographyContent {
    font-family: "Roboto Mono", monospace;
    padding: 20px;
    color: hsla(0, 0%, 0%, 0.74);
    font-weight: 600;
    text-align: justify;
}

.biographyContent p {
    margin-top: 30px;
}

