* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.cardNavigation {
    border: 1px solid rgba(255, 255, 255, 0.349);
    margin-right: 30px;

    height: 540px;
    width: 120px;
    color: hsla(0, 0%, 0%, 0.651);
    background: rgba(255, 255, 255, 0.250);
    backdrop-filter: blur(10px); 
    border-radius: 25px;

    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    gap: 20px;
    /* position: absolute; WILL BE USED FOR EXTENDING THE NAV BAR*/
}

.NavIcons {
    display: grid;
    justify-content: center;
    vertical-align: center;
    /* border: 1px solid white; */ 
}

.NavText {
    display: grid;
    align-content: center;
    font-family: "Roboto Mono", monospace;
    color: hsla(0, 0%, 0%, 0.733);
    font-size: 12px;
}

.Icon {
    display: flex;
    justify-content: center;
}

.hover:hover {
    box-shadow: 0px 0px 10px 5px hsl(160, 92%, 46%);
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

